.navbar-fixed-left {
	width: 135px;
	position: fixed;
	border-radius: 0;
	height: 100%;
}

.logo {
	background: url("/img/logo-art-3");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 135px;
	background-color: pink
	height: 80px;
	/*
	display: block;
	background-size: 300px 300px;
	*/

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.header-position {
	position: fixed;
	top: 0px;
	left: 0;
	bottom: 30px;
	width: 135px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navbar-fixed-left .navbar-nav > li {
	float: none; 
	margin-bottom: 5px;
	text-align: right;
}

.navbar-brand {
	float: right;
	margin-top: 0;
	background-color: pink;
}

.navbar-fixed-left + .container-fluid {
	margin-left: 135px;
}

@media (max-width: 767px) {
	.header-position {
		display: none;
	}

	.navbar-fixed-left + .container-fluid {
		margin-left: 0;
	}
	.navbar-fixed-left {
		width: 50px;
		height: 10px;
		position: fixed;
	}
}
